*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body{
	display: grid;
	place-items: center;
	height: 100vh;
	background: #d4e0ee;
}
#container{
	height: auto;
	width: auto;
}
#start{
	height: 70px;
	width: 250px;
	text-align: center;
	padding: 20px 0;
	background: #e7f1fa;
	font-size: 23px;
	font-weight: 700;
	border-radius: 30px 10px;
	border: 2px solid #b0c4d8;
	cursor: pointer;
	
}
#start:hover{
	background: #ff5235;
	color: #e7f1fa;
}